
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-material-project-primary: mat.define-palette(mat.$teal-palette, A700);
$angular-material-project-accent: mat.define-palette(mat.$pink-palette, 600);

// The warn palette is optional (defaults to red).
$angular-material-project-warn: mat.define-palette(mat.$red-palette, 500, 800, 900, 800);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-material-project-theme: mat.define-dark-theme((
  color: (
    primary: $angular-material-project-primary,
    accent: $angular-material-project-accent,
    warn: $angular-material-project-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-material-project-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


.font-logo {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  font-weight: thin;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-smooth: always;
}
